/**
 *
 * COLORS: VARS
 *
 */

// generic
$color-transparent: rgba(0, 0, 0, 0);

// primary
$color-primary-blue: #031E4A;
$color-primary-green: #74D301;

// secondary
$color-secondary-blue-001: #001E4F;
$color-secondary-blue-002: #00235B;
$color-secondary-blue-003: #002E78;
$color-secondary-blue-004: #0A3B89;
$color-secondary-white: #FFFFFF;
$color-secondary-black: #000000;

$color-secondary-red: #EE2020;

// shades
$color-shades-blue-90: #1C345C;
$color-shades-blue-80: #354B6E;
$color-shades-blue-70: #4E6180;
$color-shades-blue-60: #687892;
$color-shades-blue-50: #818EA4;
$color-shades-blue-40: #9AA5B7;
$color-shades-blue-30: #B3BBC8;
$color-shades-blue-20: #CDD2DB;
$color-shades-blue-10: #F5F7FC;

$color-shades-green-90: #81D71A;
$color-shades-green-80: #90DC34;
$color-shades-green-70: #9DE04D;
$color-shades-green-60: #ACE567;
$color-shades-green-50: #B9E980;
$color-shades-green-40: #C7ED99;
$color-shades-green-30: #D5F1B2;
$color-shades-green-20: #E3F6CC;
$color-shades-green-10: #F1FAE5;

// extra


