//
// Grid examples
//

.example-row {
  > .col,
  > [class^="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }
}

.example-colors {
  [class^="bg-"] {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border: 1px solid rgba(86, 61, 124, .2);
  }
}



.card {

  background-color: $color-secondary-blue-002;

  &__inner {

  }

  &--content {
    padding: 3rem;
  }
}

.table {
  &__inner {


  }

  &__content {

    &__wrapper {
    }

  }

  &__header {
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;

    &.table__header {
      padding: 2rem 3rem;
      background-color: $color-secondary-blue-004;
    }

    &:nth-child(2) {
      padding-top: 2rem;
    }

    &:last-child {
      padding-bottom: 2rem;
    }
  }

  &__col {

    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 25%;
      text-align: center;
    }
    &:nth-child(4) {
      width: 20%;
      text-align: right;
    }
  }
}