$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "assets/design-system/01_fundaments/icons/fonts" !default;

$icon-keyboard_arrow_up: "\e900";
$icon-keyboard_arrow_right: "\e901";
$icon-keyboard_arrow_left: "\e902";
$icon-keyboard_arrow_down: "\e903";
$icon-arrow_drop_up: "\e904";
$icon-arrow_drop_down: "\e905";
