/*
* @Author: steven
* @Date:   2018-10-11 01:39:03
* @Last Modified by:   steven
* @Last Modified time: 2018-10-11 22:27:19
*/
/*
$navbar-padding-y: 0rem;
$navbar-padding-x: 1rem;

$navbar-brand-padding-x: 2rem;
$navbar-brand-padding-y: .45rem;

$navbar-nav-link-padding-x: 3.15rem;
$navbar-nav-link-padding-y: 2.15rem;
*/