/**
 *
 * SYMBOLS
 *
 */

.theSprite {
	position: absolute; left: -99999rem;
	display: block;
}

svg {
	display: block; width: 100%; height: 100%; padding: 0; margin: 0;
}

svg {
	g,
	group {
		fill: currentColor;
	}
}

.symbol {
	display: block; width: 100%; height: 100%;
	color: inherit;
}
