.modal-dialog, .modal-header, .modal-body, .modal-content {
  border: 0;
  border-radius: 0;
}

.modal-content {
  background: $color-secondary-blue-004;
  padding: 1em;
}

.modal-body {
  text-align: left;
}

.modal-header {
  border-bottom: 0;
}

.modal-dialog header h5 {
  font-size: 2.4rem;
}

.modal-header button.close {
  text-shadow: none;
  font-weight: bold;
  color: $color-secondary-blue-001;
  opacity: 1;
  font-size: 2.4rem;
}

.modal-header button.close:hover {
  color: $color-secondary-white;
}
